<!DOCTYPE html>
<html>
  <head>
    <title>Items</title>

    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="./assets/js/vue.js"></script>

    <link rel="stylesheet" href="assets/css/materialize.min.css" />
    <script type="text/javascript" src="assets/js/materialize.min.js"></script>

  </head>
  <body>
    <nav class="grey darken-4">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">
          <img width="250px" src="assets/images/logo.png" />
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="invoices.html">Invoices</a></li>
          <li><a href="items.html">Items</a></li>
        </ul>
      </div>
    </nav>

    <div id="app">
      <div class="">
        <div class="row">
          <div class="col s12">
            <h3>Items</h3>

            <div class="card">
              <div class="card-stacked">
                <div class="card-content">
									<form classrow>
										<div class="s12">
											<div class="input-field">
												<label for="name" class="active">Name: </label>
												<input id="name" type="text" class="validate" v-model="item['name']">
											</div>
											<div class="input-field">
												<label for="category" class="active">Category: </label>
												<input id="category" type="text" class="validate" v-model="item['category']">
											</div>
											<div class="input-field">
												<label for="rff" class="active">rff: </label>
												<input id="rff" type="text" class="validate" v-model="item['rff']">
											</div>
											<div class="input-field">
												<label for="specification" class="active">Specification: </label>
												<input id="specification" type="text" class="validate" v-model="item['specification']">
											</div>
											<div class="input-field">
												<label for="unit" class="active">Unit: </label>
												<input id="unit" type="text" class="validate" v-model="item['unit']">
											</div>
											<div class="input-field">
												<label for="performance" class="active">Performance: </label>
												<input id="performance" type="text" class="validate" v-model="item['performance']">
											</div>
											<div class="input-field">
												<label for="cpc" class="active">CPC: </label>
												<input id="cpc" type="text" class="validate" v-model="item['cpc']">
											</div>
										</div>

										<button type="button" class="btn" @click="update">Update</button>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          item: null,
          params: [],
        },
        methods: {
					update(){
						const item = this.item
						eel.dbUPDATE(`UPDATE Items SET name='${item['name']}', category='${item['category']}', rff='${item['rff']}', specification='${item['specification']}', unit='${item['unit']}', performance=${item['performance']}, cpc=${item['cpc']} WHERE item_id=${item['item_id']}`)
						alert('updated successfully!')
					},
          getParams: function () {
            if (location.search) {
              var parts = location.search.substring(1).split("&");

              for (var i = 0; i < parts.length; i++) {
                var nv = parts[i].split("=");
                if (!nv[0]) continue;
                this.params[nv[0]] = nv[1] || true;
              }
            }
          },
        },
        created: function () {
          this.getParams();

          const id = this.params.id;

					console.log(id)

          eel.dbGET("SELECT * FROM Items WHERE item_id=" + id)((response) => {
            this.item = JSON.parse(response)[0];

            console.log(this.item);
          });
        },
      });
    </script>
    <script></script>
  </body>
</html>
